<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi natus,
    libero voluptas possimus dolore qui minus. Aperiam nihil cupiditate
    repellendus!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#line "></use>
        </svg>
      </div>
      <div class="media__body quote__author">
        <h3 class="media__title">Temidire Owoeye</h3>
        <p class="quote__organization">CEO, Motoko</p>
      </div>
    </div>
  </footer>
</blockquote>
