<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
      reprehenderit!
    </p>
  </header>
  <div class="container">
    <div class="card testimonial testimonial--card">
      <div class="grid grid--cols-2">
        <div class="testimonial__image">
          <img src="images/Dire.jpg" alt="" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            natus, libero voluptas possimus dolore qui minus. Aperiam nihil
            cupiditate repellendus!
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon">
                  <use xlink:href="images/sprite.svg#line "></use>
                </svg>
              </div>
              <div class="media__body quote__author">
                <h3 class="media__title">Temidire Owoeye</h3>
                <p class="quote__organization">CEO, Motoko</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
